Azure-jirato-snowflake-dev/PartialArmTemplates/ArmTemplate_8_19_2021_22_8_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Azure-jirato-snowflake-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/jira_to_snowflake_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JiraSource",
								"query": {
									"value": "select    *  from \"Agile\".\"Agile_Board_Sprint\"\n\nwhere  Sprint_startDate \n\nBETWEEN\n\n            '@{pipeline().parameters.fromdate}'\nAND\n            '@{pipeline().parameters.todate}'\nAND\n\nBoard_Id = '@{pipeline().parameters.BoardId}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "JiraObject1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Jira_sprintids_dataset_dev",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "sprintnames",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Jira_sprintids_dataset_dev",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "sprintnames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('sprintnames').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "jirasprintreportsdev",
											"type": "DatasetReference",
											"parameters": {
												"BoardId": {
													"value": "@item().Prop_7",
													"type": "Expression"
												},
												"SprintId": {
													"value": "@item().Prop_6",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "jira_json",
											"type": "DatasetReference",
											"parameters": {
												"sprint_id_file": "@item().Prop_6"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Azure Function1",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "Azure-jirachild-blobupload",
										"method": "GET"
									},
									"linkedServiceName": {
										"referenceName": "AzureFunction1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "sprint",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Azure Function1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "jira_sprintids_dev",
												"type": "LinkedServiceReference"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sprint",
											"type": "DatasetReference",
											"parameters": {
												"sprintid": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Snowflakesprint",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "sprintissuess",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sprint",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "jira_sprintids_dev",
												"type": "LinkedServiceReference"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "sprintissuess",
											"type": "DatasetReference",
											"parameters": {
												"sprintid": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "sprintissues",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "estimatedsum",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sprint",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "jira_sprintids_dev",
												"type": "LinkedServiceReference"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "estimatedsum",
											"type": "DatasetReference",
											"parameters": {
												"sprintid": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Snowflakeestimatedsum",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "issuekeys",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sprint",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SnowflakeSink",
											"importSettings": {
												"type": "SnowflakeImportCopyCommand"
											}
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "jira_sprintids_dev",
												"type": "LinkedServiceReference"
											}
										}
									},
									"inputs": [
										{
											"referenceName": "issuekeys",
											"type": "DatasetReference",
											"parameters": {
												"sprintid": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Snowflakeissuekeys",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"fromdate": {
						"type": "string"
					},
					"todate": {
						"type": "string"
					},
					"BoardId": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-17T18:33:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sprint')]",
				"[concat(variables('factoryId'), '/datasets/Snowflakesprint')]",
				"[concat(variables('factoryId'), '/datasets/sprintissuess')]",
				"[concat(variables('factoryId'), '/datasets/sprintissues')]",
				"[concat(variables('factoryId'), '/datasets/estimatedsum')]",
				"[concat(variables('factoryId'), '/datasets/Snowflakeestimatedsum')]",
				"[concat(variables('factoryId'), '/datasets/issuekeys')]",
				"[concat(variables('factoryId'), '/datasets/Snowflakeissuekeys')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflakeestimatedsum')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflakejira",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "CONTENTS",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SPRINT_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "TEXT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "VALUE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SNOWFLAKE",
					"table": "ESTIMATED_SUM"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflakejira')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflakeissuekeys')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflakejira",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "CONTENTS",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "KEYSADDED",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "KEYSVALUE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SPRINT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SNOWFLAKE",
					"table": "ISSUESADDED_IN_SPRINT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflakejira')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflakesprint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflakejira",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SEQUENCE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NAME",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "STATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LINKEDPAGESCOUNT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "GOAL",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "STARTDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ENDDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ISOSTARTDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ISOENDDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "COMPLETEDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "ISOCOMPLETEDATE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CANUPDATESPRINT",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "REMOTELINKS",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "DAYSREMAINING",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SNOWFLAKE",
					"table": "SPRINT_DETAILS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflakejira')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/estimatedsum')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sprintid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().sprintid,'_blob2')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/issuekeys')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sprintid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().sprintid,'_blob3')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(),'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sprint')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sprintid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().sprintid,'_blob4')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sprintissues')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflakejira",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "CONTENTS",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CONTENTS_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CONTENTS_KEY",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "CONTENTS_HIDDEN",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "SPRINT_ID",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "SNOWFLAKE",
					"table": "SPRINT_ISSUES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflakejira')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sprintissuess')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sprintid": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().sprintid,'_blob1')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflakejira')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyvault_jira_object_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "snowcredentials"
					}
				}
			},
			"dependsOn": []
		}
	]
}