Azure-jirato-snowflake-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Azure-jirato-snowflake-dev"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://azure-jirachild-blobupload.azurewebsites.net"
		},
		"AzureKeyvault_jira_object_dev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://Azurejiratosnowflakedev.vault.azure.net/"
		},
		"Jira_connector_dev_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "https://uscold.atlassian.net"
		},
		"Jira_connector_dev_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "aboinepalli@uscold.com"
		},
		"jira_sprintids_dev_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "blobsasuri"
		},
		"jirasprintreports_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://uscold.atlassian.net"
		},
		"jirasprintreports_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "aboinepalli@uscold.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/jira_to_snowflake_dev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JiraSource",
								"query": {
									"value": "select    *  from \"Agile\".\"Agile_Board_Sprint\"\n\nwhere  Sprint_startDate \n\nBETWEEN\n\n            '@{pipeline().parameters.fromdate}'\nAND\n            '@{pipeline().parameters.todate}'\nAND\n\nBoard_Id = '@{pipeline().parameters.BoardId}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "JiraObject1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Jira_sprintids_dataset_dev",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sprintnames",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Jira_sprintids_dataset_dev",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "sprintnames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('sprintnames').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "jirasprintreportsdev",
											"type": "DatasetReference",
											"parameters": {
												"BoardId": {
													"value": "@item().Prop_7",
													"type": "Expression"
												},
												"SprintId": {
													"value": "@item().Prop_6",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "jira_json",
											"type": "DatasetReference",
											"parameters": {
												"sprint_id_file": "@item().Prop_6"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.child items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Azure Function1",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "Azure-jirachild-blobupload",
										"method": "GET",
										"headers": {}
									},
									"linkedServiceName": {
										"referenceName": "AzureFunction1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"fromdate": {
						"type": "string"
					},
					"todate": {
						"type": "string"
					},
					"BoardId": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-08-17T18:33:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/JiraObject1')]",
				"[concat(variables('factoryId'), '/datasets/Jira_sprintids_dataset_dev')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]",
				"[concat(variables('factoryId'), '/datasets/jirasprintreportsdev')]",
				"[concat(variables('factoryId'), '/datasets/jira_json')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/JiraObject1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Jira_connector_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "JiraObject",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Jira_connector_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jira_sprintids_dataset_dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sprintids",
						"container": "jirasprintidsdatasetdev"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jira_sprintids_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jira_sprintids_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jira_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jira_sprintids_dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sprint_id_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().sprint_id_file,'SprintReport.json')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(formatDateTime(utcnow(), 'yyyy-MM-dd')) ",
							"type": "Expression"
						},
						"container": "jirasprintidsdatasetdev"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jira_sprintids_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jirasprintreportsdev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "jirasprintreports",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BoardId": {
						"type": "string"
					},
					"SprintId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('/rest/greenhopper/latest/rapid/charts/sprintreport?rapidViewId=',dataset().BoardId,'&sprintId=',dataset().sprintid)\n",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/jirasprintreports')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyvault_jira_object_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "Functionkey"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyvault_jira_object_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyvault_jira_object_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyvault_jira_object_dev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Jira_connector_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Jira",
				"typeProperties": {
					"host": "[parameters('Jira_connector_dev_properties_typeProperties_host')]",
					"port": 443,
					"username": "[parameters('Jira_connector_dev_properties_typeProperties_username')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyvault_jira_object_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "jiraobjectkey"
					},
					"useEncryptedEndpoints": true,
					"useHostVerification": true,
					"usePeerVerification": true
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyvault_jira_object_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jira_sprintids_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyvault_jira_object_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('jira_sprintids_dev_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyvault_jira_object_dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/jirasprintreports')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('jirasprintreports_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('jirasprintreports_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyvault_jira_object_dev",
							"type": "LinkedServiceReference"
						},
						"secretName": "jiraobjectkey"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyvault_jira_object_dev')]"
			]
		}
	]
}